@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Lato', 'Gothic A1', sans-serif;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 767px) {
  .partner {
    display: none;
  }

  .rigts {
    display: none;
  }

  /* Ham starts */
  .ham-popup {
    background: #343a40;
    position: fixed;
    height: 98%;
    width: 100%;
    z-index: 99;
    display: none;
  }

  .ham-popup-ul {
    padding-top: 10%;
  }

  .cross-btn {
    border: none;
    background: none;
    float: right;
  }

  .ham-popup-item {
    list-style: none;
    padding-right: 3rem;
    padding-top: 1.6%;
  }

  .ham-popup-link {
    text-decoration: none;
    color: #f8f9fa;
    font-weight: 800;
    font-size: 2rem;
  }

  /* Ham Ends */

  /* nav banner starts */
  .nav-banner {
    display: none;
  }

  /* nav banner ends */

  /* navbar starts */
  .hambar {
    border: none;
    background: none;
    padding: 0;
  }

  .navbar-content {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 0;
  }

  .hambar img {
    width: 50%;
  }

  .navbar-brand img {
    max-width: 50%;
    margin-left: 50%;
  }

  .navbar-intro {
    box-shadow: 0 15px 10px -15px #111;
  }

  .navbar-wrapper {
    display: none;
  }

  .navbar {
    position: inherit;
  }

  /* navbar ends */

  /* conference intro starts */
  .conference-intro {
    background-image: url(./properties/neural\ network.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 46%;
    margin-top: 0.5%;
    padding: 0;
    padding-top: 8%;
  }

  .conference-intro-greet {
    padding-left: 2%;
    color: #ec5242;
    padding-top: 15%;
  }

  .conference-intro-join {
    padding-bottom: 5.4%;
    color: #ec5242;
    font-weight: 700;
    padding-left: 2%;
  }

  .conference-intro-desc {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #515151;
    padding-top: 3.05%;
    padding-bottom: 3.05%;
    padding-left: 2.4%;
    padding-right: 2.4%;
    background: #f8f8f8;
    border: 8.49673px solid #fff;
  }

  .conference-intro-time {
    color: #595959;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 1.25rem;
    padding-left: 2%;
    padding-top: 5.4%;
    margin: 0;
  }

  .conference-intro-venue {
    color: #868686;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.815rem;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 20%;
  }

  /* Main program starts */

  .main-program {
    background-image: url(./properties/program-bg.png);
  }

  .main-program-header {
    color: #fff;
    text-align: center;
  }

  .main-border {
    width: 2rem;
    border-bottom: 1px solid rgb(239, 81, 60);
    margin: 0 auto 4rem;
  }

  .main-program-header h2 {
    font-weight: 400;
    font-size: 1.27rem;
    padding-top: 8.7%;
  }

  .program-content {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    margin-bottom: 0.8%;
  }

  .image-wrap {
    display: flex;
  }

  .program-content h3 {
    display: flex;
    align-items: center;
    padding-top: 4%;
    color: #ff5438;
    font-weight: 700;
    font-size: 0.9rem;
    margin-left: 3.4%;
  }

  .program-content p {
    color: #fff;
    font-weight: 700;
    font-size: 0.66rem;
    padding-top: 6%;
    margin-left: 6.4%;
    letter-spacing: 0.06em;
  }

  .join-btn {
    text-align: center;
    padding-top: 2.5rem;
  }

  .join {
    background: #ff4f38;
    color: #fff;
    margin-bottom: 9.7%;
  }

  .see-program {
    display: none;
  }

  /* Main program ends */

  /* Featured Speaker Starts */

  .speaker-intro {
    margin-bottom: 10%;
    text-align: center;
    padding-top: 4.18%;
  }

  .speaker-intro-border {
    width: 2rem;
    border-bottom: 1px solid #a04038;
    margin: 0 auto 2.5rem;
  }

  .speaker {
    display: flex;
    margin-bottom: 6%;
  }

  .speaker img {
    max-width: 35%;
  }

  .speaker-details {
    padding-left: 4.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .speaker h3 {
    color: #000;
    font-weight: 700;
    font-size: 0.95rem;
  }

  .designition {
    color: #f78c89;
    font-weight: 700;
    font-size: 0.63rem;
    margin: 0;
    margin-bottom: 1.8%;
  }

  .speaker-border {
    width: 2rem;
    border-bottom: 1px solid #d9d9d9;
  }

  .speaker-work {
    color: #000;
    font-weight: 700;
    font-size: 0.6rem;
    padding-top: 0.8rem;
  }
}

@media only screen and (min-width: 768px) {
  .ham-popup {
    display: none;
  }

  /* nav banner starts */
  .nav-banner {
    background: #3e3e3e;
  }

  .nav-banner-list {
    display: flex;
    justify-content: end;
    padding-right: 13%;
    margin-block-end: 0;
    padding-bottom: 0.42rem;
  }

  .nav-banner-list a {
    text-decoration: none;
  }

  .nav-banner-item {
    list-style-type: none;
    color: #fff;
    padding-left: 1.26rem;
    font-style: normal;
    font-weight: 400;
    font-size: 0.79rem;
  }

  /* nav banner ends */

  /* navbar starts */
  .hambar {
    display: none;
  }

  .navbar-intro {
    box-shadow: 0 15px 10px -15px #111;
  }

  .navbar {
    padding-top: 0.84rem;
  }

  #no-wrap {
    flex-wrap: nowrap;
  }

  .navbar-brand {
    padding-top: 0;
    padding-left: 9%;
  }

  .navbar-brand img {
    max-width: 50%;
  }

  .navbar-ul {
    display: flex;
  }

  .navbar-item {
    padding-right: 3rem;
    padding-top: 1.6%;
    list-style: none;
  }

  .navbar-link {
    color: #868686;
    font-weight: 800;
    font-size: 0.96rem;
    text-decoration: none;
  }

  /* navbar ends */

  /* conference intro starts */
  .conference-intro {
    background-image: url(./properties/neural\ network.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0.5%;
    padding-top: 8%;
    padding-right: 8%;
    padding-left: 12%;
    padding-bottom: 8%;
  }

  .conference-intro-greet {
    padding-left: 2%;
    color: #ec5242;
  }

  .conference-intro-join {
    padding-bottom: 5.4%;
    max-width: 65%;
    color: #ec5242;
    font-weight: 700;
    padding-left: 2%;
  }

  .conference-intro-desc {
    max-width: 65%;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25.4902px;
    color: #515151;
    padding-top: 3.05%;
    padding-bottom: 3.05%;
    padding-left: 2.4%;
    padding-right: 2.4%;
    background: #f8f8f8;
    border: 8.49673px solid #fff;
  }

  .conference-intro-time {
    color: #595959;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    padding-left: 2%;
    padding-top: 5.4%;
  }

  .conference-intro-venue {
    color: #868686;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.7rem;
  }

  /* Main program starts */

  .main-program {
    background-image: url(./properties/program-bg.png);
  }

  .container {
    width: auto;
  }

  .main-program-header {
    color: #fff;
    text-align: center;
  }

  .main-border {
    width: 4rem;
    border-bottom: 2px solid rgb(239, 81, 60);
    margin: 0 auto 4rem;
  }

  .image-wrap {
    text-align: center;
  }

  .main-program-header h2 {
    font-weight: 400;
    font-size: 1.9rem;
    padding-top: 6%;
  }

  .main-proram-contents {
    margin-left: 9%;
  }

  .program-content {
    background: rgba(255, 255, 255, 0.1);
    margin-right: 1.2rem;
  }

  .program-content h3 {
    padding-top: 4%;
    color: #ff5438;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
  }

  .program-content p {
    color: #fff;
    font-weight: 700;
    font-size: 0.78rem;
    padding-top: 6%;
    letter-spacing: 0.06em;
    text-align: center;
  }

  .join-btn {
    display: none;
  }

  .see-program {
    text-align: center;
    padding-top: 6.1%;
    padding-bottom: 7%;
    padding-right: 9%;
  }

  .see-program a {
    color: #fff;
    font-weight: 400;
    font-size: 1.25rem;
  }

  /* Main program ends */

  /* Featured Speaker Starts */

  .speaker-intro {
    margin-bottom: 4%;
    text-align: center;
    padding-top: 4%;
  }

  .speaker-intro h2 {
    color: #000;
    font-weight: 400;
    font-size: 1.875rem;
  }

  .speaker-intro-border {
    width: 4rem;
    border-bottom: 1px solid #a04038;
    margin: 0 auto 2.5rem;
  }

  .speaker-wrapper {
    padding-left: 9%;
  }

  .speaker {
    display: flex;
    margin-bottom: 3.5%;
  }

  .speaker-details {
    padding-left: 4.2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .speaker h3 {
    color: #000;
    font-weight: 700;
    font-size: 1.5rem;
  }

  .designition {
    color: #f78c89;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1.8%;
  }

  .speaker-border {
    width: 3rem;
    border-bottom: 2px solid #d9d9d9;
  }

  .speaker-work {
    color: #000;
    font-weight: 700;
    font-size: 0.88rem;
    padding-top: 0.8rem;
  }

  /* Featured Speaker Starts */

  /* Partner Starts */
  .partner {
    background-color: #414246;
  }

  .partner-intro {
    padding-top: 3.418%;
  }

  .partner-intro h2 {
    color: #8f8f91;
    font-weight: 400;
    font-size: 1.875rem;
    text-align: center;
  }

  .partner-intro-border {
    width: 4rem;
    border-bottom: 2px solid rgb(239, 81, 60);
    margin: 0 auto 2.8rem;
  }

  .partner-logo {
    margin-left: 7.5rem;
    padding-bottom: 2.431%;
  }

  .partner-logo img {
    width: 19%;
    padding-right: 3.125rem;
  }

  /* Partner Ends */

  /* Rights Starts */
  .rigts {
    display: flex;
    justify-content: center;
    padding-top: 3.5%;
  }

  .rigts img {
    width: 20%;
  }

  .rights-msg {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 4.514%;
  }

  .rights-msg h4 {
    color: #000;
    font-weight: 700;
  }

  /* Rights Ends */
}
